*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
}

html,body{
    height: 100%;
    font-family: Fonte;
}


@font-face{font-family:"Fonte";
    src:url('./FONTES/SANS/OpenSans-light.ttf')
}

/* CLASSES AUXILIARES */

.center{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2%;
}

.clear{
    clear: both;
}

/* HEADER DE CONTATO */

    div.layer{
        background-color: rgba(0, 0, 0, 0.526); 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section.main{
        background-image: url('./IMAGEM/mosaico4.jpg');
        background-attachment: fixed;
        background-size:cover;
        background-position: center;
        width: 100%;
        height: 100%;
        min-width:100%;
        min-height: 100%;
        padding:15px 0;
        z-index: 2;
        position:relative;
    }

    header{
        width: 100%;
        float:right;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
    }

    .icons-social{
        float:right;
    }

    .icons-social a{
        color: white;
        text-decoration:none;
        font-size: 20px;
        margin: 0 15px;
    }

    .logo{
        margin-top: 10px;
        float:left;
        font-size:23px;
        color: white;
        font-weight: bold;
    }

    /* DESCKTOP */

        .desktop{
            float: right;
            margin-top: 27px;
        }

        .desktop ul{
            list-style-type:none;
        }

        .desktop li{
            font-size: 17px;
            font-weight: lighter;
            display: inline-block;
            margin: 0 15px;
        }

        .desktop a{
            color:white;
            text-decoration:none;
        }

    /* DESCKTOP */

    /* MOBILE */

        .mobile{
            position: absolute;
            top: 0;
            right:0;
            width:0%;
            height: 100%;
            background-color: rgb(212, 211, 211);
            position: fixed;
            display: grid;
            place-content: center;
            overflow: hidden;
            transition: 0.5s;
            display: none;
        }


        .abrir{
            position: absolute;
            right:16px;
            top: 20px;
            font-size: 30px;
            color: black;
            display: none;
            position: fixed;
            cursor: pointer;
        }

        

        .fechar{
            width: 30px;
            height: 30px;
            position: absolute;
            right:15px;
            top: 25px;
            font-size: 30px;
            display: none;
            cursor: pointer;
            z-index: 999;
            position: fixed;
            background-color: rgb(149, 148, 148);
            line-height: 30px;
            text-align: center;
            border-radius: 100%;
        }

        
        .icons-social-menu{
            position: absolute;
            bottom: 0;
            width: 100%;
            height:40%;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            border-top: 1px solid gray;
        }
        
        .icones{
            width: 50%;
            height: 30px;
            margin: 5px;
            text-align: center;
            position: relative;
            font-size: 30px;
            cursor: pointer;
            z-index: 999;
        }

        .icone1 i:hover{
           transform: scale(1.2);
           color: #094e92;
        }

        .icone2 i:hover{
            transform: scale(1.2);
            color: rgb(169, 9, 95);
        }

        .mobile p{
            width: 100%;
            min-height: 150px;
            font-size: 10px;
            position: absolute;
            bottom: 0;
            text-align: center;
            border-top: 1px solid gray;
            text-align: center;
            padding: 20px;
        }

        .mobile ul{
            width: 100%;
            height:70%;
            list-style-type:none;
            position: absolute;
            top:20%;
        }

        .mobile li{
            font-size: 20px;
            font-weight: bold;
            display:flex;
            margin: 0 15px;
            text-align: center;
            width: 100%;
            height: 40px;
            transition: 0.5s;
            margin: 0 auto;
            border-top: 1px solid gray;
            opacity: 0.8;
        }

        .mobile li:hover{
            transform: scale(1.2);
            background-color: rgb(84, 83, 83);
            border-radius: 10px;
        }


        .mobile a{
            color:black;
            text-decoration:none;
            position: absolute;
            left: 0 ;
            width: 100%;
            height: 40px;
            line-height: 38px;
            cursor: pointer;
        }

        input{
            border-radius: 5px;
            border: 1px solid gray;
            outline: none;
        }

        textarea{
            border-radius: 5px;
            border: 1px solid;
            outline: none;
            padding-top: 10px;
        }

        .info a:hover{
            color: white;
        }

        @media screen and (max-width: 600px){

            .desktop{
                display: none;
            }

            .mobile{
                display:block;
            }

            .abrir{
                display: block;
            }

            .icons-social{
                display: none;
            }

            .overlay-parallax h2{
                font-size: 20px;
            }

            .overlay-parallax p{
                font-size: 13px;
            }

        }


    /* MOBILE */
    

/* HEADER DE CONTATO */


/* PLANOS DE COMPRA */

    .conteudo-header{
        max-width: 700px;
        margin: 90px 0;
    }

    .conteudo-header h2{
        font-size: 44px;
        color: white;
        font-weight: lighter;
    }

    .conteudo-header span{
        color: rgb(83, 83, 231);
    }

    .conteudo-header p{
        color: white;
        margin-top: 18px;
        font-size: 16px;
        font-weight: lighter;
        text-align: justify;
    }

    .conteudo-header a{
        display: block;
        width: 177px;
        height: 44px;
        line-height: 44px;
        background:#2693ff;
        color: white;
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        border-radius: 20px;
    }

    .chamada-planos{
        width: 100%;
        text-align: center;
        padding: 40px 2%;
        background: rgb(225,225,255);
    }

    .chamada-planos h2{
        display: block;
        border-top: 2px solid #2693ff;
        color:#2693ff;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: lighter;
    }

    .box-planos{
        padding: 40px 0;
    }

    .box-planos-single{
        width: 33.3%;
        padding: 0 40px;
    }

    .box-planos-wraper{
        width: 100%;
        border: 1px solid #ccc;
        min-height: 150px;
        box-shadow: 4px 4px 5px 0px gray;
    }

    .box-planos-single h2{
        background-color: #2693ff;
        color:white;
        text-align: center;
        padding:3px;
        font-weight:lighter;
    }

    .box-planos > .center{
        display: flex;
        flex-wrap: wrap;
    }

    .pontos-planos{
        padding: 8px 0px 15px 0px;
    }

    .box-planos-single p{
        color: #777;
        font-size: 17px;
        margin-top: 8px;
        margin-left: 8px;
    }

    .preco{
        margin-top:10px;
        padding: 15px 0;
        text-align: center;
    }
    
    .preco h2{
        font-size: 20px;
        color: #777;
        background-color: transparent;
        display: inline-block;
        padding: 0 20px;
        border-top: 2px solid #ccc;
    }

    @media screen and (max-width: 768px){
        .box-planos-single{width:100%;margin: 20px 0;}
    }

/* PLANOS DE COMPRA */

/* SOBRE A EMPRESA */

    .parallax{
        width: 100%;
        min-height:200px;
        background-image: url('./IMAGEM/mosaico5.jpg');
        background-size:cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
        padding:150px 10px;
        overflow: hidden;
    }

    .parallax > .center{
        position: relative;
        z-index: 2;
        max-width: 960px;
    }

    .parallax h2{
        text-align: center;
        margin-top: 30px;
        color: white;
    }

    .parallax p{
        margin-top: 15px;
        color: white;
        text-align: justify;
    }

    .overlay-parallax{
        width: 100%;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 4px 4px 5px 0px gray;
        z-index:1;
    }

/* SOBRE A EMPRESA */

/* /* FORMULARIO  */

    .final-section{
        padding: 50px 0;
    }

    .w50{
        float: left;
        width: 50%;
    }

    .final-section h2{
        font-weight: lighter;
        color: #777;
        font-size: 24px;
    }

    .borda-efeito{
        width: 100px;
        height: 2px;
        background-color: #777;
        position: absolute;
        transition: 1s;
    }

    .final-section h2:hover > .borda-efeito{
        width:200px;
    }

    .contato form{
        margin-top: 15px;
    }

    .contato input:not(input[type=submit]){
        width: 90%;
        height:40px;
        border: 1px solid #ccc;
        display: block;
        margin:20px 0px;
        padding-left: 10px;
        font-size: 15px;
    }

    .contato textarea{
        width: 90%;
        height:120px;
        border: 1px solid gray;
        resize: none;
        padding-left: 10px;
        font-size: 15px;
    }

    .contato input[type=submit]{
        cursor: pointer;
        background-color: #2693ff;
        color:white;
        border: none;
        width:150px;
        height:40px;
        border-radius: 30px;
        margin: 20px 0;
    }

    @media screen and (max-width: 768px){
        .w50{
            width: 100%;
            margin: 15px 0;
        }

        .contato input:not(input[type=submit]){
            width: 100%;
        }
        .contato textarea{
            width: 100%;
        }
    }

/* FORMULARIO  */


/* EQUIPE-SINGLE */

    .time > .w50{
        width: 48%;
        margin: 8px 1%;
        box-shadow: 0px 5px 5px 3px rgba(93, 93, 93, 0.511);
    }

    .equipe-single{
        border: 1px solid #ccc;
        min-height: 150px;
    }

    .equipe-single .topo-box-usuario{
        padding-bottom: 10px;
        border:1px solid #ccc;
    }

    .topo-box-usuario{
        display: flex;
    }

    .box-avatar{
        padding-left:20px;
        padding-top: 10px;
    }

    .box-avatar img{
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ccc;
        background-position: center;
        background-size: contain;
    }

    .info-usuario{
        padding-left: 10px;
        display: inline-block;
        vertical-align: middle;
        color: #777;
        padding-top: 15px;
    }
    
    .descricao-usuario-box{
        color: rgb(91, 90, 90);
        font-weight: lighter;
        font-size: 14px;
        margin-top: 10px;
        padding:10px
    }

    @media screen and (max-width: 768px){
        .time > .w50{
            width: 100%;
            margin: 20px 0%;
        }
    }

/* EQUIPE-SINGLE */